#include <windows.h>

IDI_SPOTIAMP ICON "icon.ico"

1001 DIALOGEX 0, 0, 200, 100
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Sign in to Spotify"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Username:",-1,10,10,50,10
    EDITTEXT        100,60,8,130,12,ES_AUTOHSCROLL
    LTEXT           "Password:",-1,10,30,50,10
    EDITTEXT        101,60,28,130,12,ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Sign In",IDOK,80,75,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,140,75,50,14
END

1002 DIALOGEX 0, 0, 200, 60
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Search Spotify"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Query:",-1,10,10,30,10
    EDITTEXT        100,45,8,145,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Search",IDOK,80,35,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,140,35,50,14
END

1003 DIALOGEX 0, 0, 200, 80
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Input"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Prompt:",102,10,10,180,20
    EDITTEXT        100,10,35,180,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,80,55,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,140,55,50,14
END
